<div>
  <div class="new-form-box row">
    <div class="new-form-itinerary col-12 col-lg-12">
      <%= simple_form_for @itinerary, remote: true do |f| %>
      <%= f.input :name, label:"1. Title of Itinerary" %>

        <%= f.input :duration, label: "2. Number of days", input_html: { min: '1', step: '1' } %>
        <%= f.input :summary, maxlength:"700", label: "3. Give us a short summary of your trip", id:"itinerary_summary" %>
        <p id="charcount">max 700 characters</p>
        <%#= f.input :publish, label: "Publish itinerary?", as: :radio_buttons %> 

        <p>4. Publish the itinerary?</p>
        <div><%= f.label :publish, "Yes", :value => true %>
        <%= f.radio_button :publish, true %></div>

        <div><%= f.label :publish, "No, not yet", :value => false %>
        <%= f.radio_button :publish, false %></div>  

        <%= f.submit "Save changes", class:"search-button"%>
      <% end %>
    </div>
  </div> 
</div>