<div class="container">
  <div class="new-form-box row">
    <div class="new-form col-12 col-lg-8">
      <%= simple_form_for(@itinerary) do |f| %>
        <%= f.input :name, label:"1. Title of Itinerary" %>
        <%= f.input :duration, label: "2. Number of days" %>
        <%= f.input :summary, maxlength:"700", label: "3. Give us a short summary of your trip" %>
        <p id="charcount">max 700 characters</p>
        <p> 4. Bring your itinerary to life by adding a few photos.</p>
        <%= f.input :photos, as: :file, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: '📷 Upload photos' %>
        <%= f.submit class:"search-button" %>
      <% end %>
    </div>
  </div> 
</div>


