<div class ="container">
    <div class="title">
        <h1><%= @itinerary.name %></h1>
    </div>


<div id="map"
     style="width: 100%; height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>


    <div class="bootstrap-tabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">    
            <% @itinerary.destinations.each do |d| %>
                <li class="nav-item">
                <a class="nav-link <%= 'active' if @itinerary.destinations.first == d %>" id="<%= d.city.downcase.gsub(/\s+/, "") %>-tab" <%= 'aria-selected="true"' if @destinations.first == d %> href="#<%= d.city.downcase.gsub(/\s+/, "") %>" data-toggle="tab" role="tab" aria-controls="<%= d.city.downcase.gsub(/\s+/, "") %>"><%= d.city %>
                </a>
                </li>
            <% end %>
        </ul>

        <div class="tab-content" id="myTabContent">
            <% @itinerary.destinations.each_with_index do |d, i| %>
                <div class="tab-pane fade <%= 'show active' if i == 0 %>" id="<%= d.city.downcase.gsub(/\s+/, "") %>" role="tabpanel" aria-labelledby="<%= d.city.downcase.gsub(/\s+/, "") %>-tab">
                    <div class="info">
                        <%= d.date%>
                        <%= d.city%>
                        <%= d.country%> 
                    </div>
                    <p><%= d.description%></p><br>
                    <h2>Things to do in <%=d.city%></h2>
                        <% d.activities.each do |a| %>
                        <div class="activity-box">
                            <h3><%= a.name%></h3><br>
                            <%= a.description%>
                        </div>
                        <%end%>
                    <h2>Transport</h2>
                    <% d.transports.each do |t| %>
                        <div class="activity-box">
                            <p>Add description column to transport Model</p>
                        </div>
                        <%end%>

                    <div class="button-list">
                        <%= link_to "Add transport", new_itinerary_destination_transport_path(@itinerary, d) %>
                        <%= link_to "Add accommodation", new_itinerary_destination_accommodation_path(@itinerary, d) %>
                        <%= link_to "Add activity", new_itinerary_destination_activity_path(@itinerary, d)%>
                    </div>
                </div>
            <% end %>
        </div>
    </div>

    <%= link_to "Add destination", new_itinerary_destination_path(@itinerary) %>
    
</div>