<div class ="container">
    <div class="title">
        <h1><%= @itinerary.name %></h1>
    </div>


<div id="map"
     style="width: 100%; height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>


    <div class="bootstrap-tabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">    
            <% @itinerary.destinations.each do |d| %>
                <li class="nav-item">
                <a class="nav-link <%= 'active' if @itinerary.destinations.first == d %>" id="<%= d.city.downcase %>-tab" <%= 'aria-selected="true"' if @destinations.first == d %> href="#<%= d.city.downcase %>" data-toggle="tab" role="tab" aria-controls="<%= d.city.downcase %>"><%= d.city %>
                </a>
                </li>
            <% end %>
        </ul>

        <div class="tab-content" id="myTabContent">
            <% @itinerary.destinations.each_with_index do |d, i| %>
                <div class="tab-pane fade <%= 'show active' if i == 0 %>" id="<%= d.city.downcase %>" role="tabpanel" aria-labelledby="<%= d.city.downcase %>-tab">
                <%= d.date%>    
                <%= d.country%>    
                <%= d.city%>
                <%= d.description%>
                </div>
            <% end %>
        </div>
    </div>

    <%= link_to "Add destination", new_itinerary_destination_path(@itinerary) %>
    <%= link_to "Add transport", new_itinerary_transport_path(@itinerary) %>
    <%= link_to "Add accommodation", new_itinerary_accommodation_path(@itinerary) %>
    <%= link_to "Add activity", new_itinerary_activity_path(@itinerary) %>
</div>