<div class="container-new-accommodation">
  <div class="new-form-box row">
    <div class="new-form col-11 col-lg-8">
      <h2> Where did you stay in<%= @destination.city %>? </h2>
        <%= simple_form_for [@itinerary, @destination, @accommodation] do |f| %>
          <%= f.input :name%>
          <%= f.input :address%>
          <%= f.input :accommodation_type%>
          <%= f.input :photos, as: :file, input_html: { multiple: true }  %>
          <%= f.submit "Save changes",  class:"search-button" %>
        <% end %>
     </div>   
  </div>
</div>