<%
=begin%>
 <div class="container-chat">
<h1>My conversations</h1>
    <div class="convo-box row">
        <% @chatrooms.each do |chatroom|%>
            <% if current_user.id == chatroom.sender.id || current_user.id == chatroom.receiver.id %>
                <div class="chatroom-card col-12 col-lg-8">
                    <div class="left-chatroom-card">
                        <div class="chatroom-avatar">
                            <% if chatroom.sender.avatar.attached? %>
                                <%= cl_image_tag chatroom.sender.avatar.key, class:"avatar-medium"%>
                            <%else%>
                                <i class="fas fa-user-circle" style="font-size: 120px;"></i>
                            <%end%>
                        </div> 
                        <div class="sender-message">
                            <div class="sender-name">
                                <%= link_to chatroom.sender.first_name, chatroom_path(chatroom) %>
                            </div>
                            <div class="last-message">
                                <%= chatroom.messages.last.created_at.to_date %>
                            </div>
                        </div>    
                    </div>    
                    <div class="right-chatroom-card">
                        <%= chatroom.messages.last.content %>
                    </div>  
            <%else%>
                    <h2> You haven't got any conversations yet.<h2>
                </div>
            <% end %>
        <%end%>       
    </div>
</div> 
<%
=end%>

<div class='ui segment'>
 <h3>Inbox</h3>
 <div class='ui list'>
  <div class='item'>
   <% @chatrooms.each do |chatroom| %>
   <% if chatroom.sender_id == current_user.id ||  chatroom.receiver_id == current_user.id %>
        <% if chatroom.sender_id == current_user.id %>
            <% receiver = User.find(chatroom.receiver_id) %>
        <% else %>
      <% receiver = User.find(chatroom.sender_id) %>
    <% end %>
    <%= link_to receiver.first_name, chatroom_messages_path(chatroom)%>
   <% end %>
  <% end %>
  </div>
 </div>
</div>
<div class='ui segment'>
 <h3>All Users</h3>
  <div class='ui list'>
   <% @users.each do |user| %>
    <% if user.id != current_user.id %>
     <div class='item'>
   <%= user.first_name %> <%= link_to 'Message me!', chatrooms_path(sender_id: current_user.id, receiver_id: user.id), method: 'post'%>
 </div>
  <% end %>
 <% end %>
 </div>
</div>

