<div class="container">
    <div class="new-form-box row">
        <div class="no-bg new-form col-12 col-lg-8">
            <h2 class="update-avatar-title">Update your profile picture</h2>
            <div class="buttonsform">
                <%= simple_form_for @user do |f| %>
                    <div class="upload-photo">            
                        <% if @user.avatar.attached? %>
                            <%= cl_image_tag @user.avatar.key, class:"avatar-profile"%>
                        <%else%>
                            <div class="avatar-profile">
                                <i class="fas fa-user-circle"  style="font-size: 120px;"></i>
                            </div>
                        <%end%> 
                        <%= image_tag "", class: "hidden", id: "photo-preview" %>
                    </div>
                    <div class="update-avatar">
                        <div class="upload-photo">
                            <button type="button" id="custom-button-avatar">📷 Upload photo</button>  
                        </div>                  
                        <div class="photo-chosen">
                            <span id="custom-text-avatar">No photo chosen, yet.</span>
                        </div>
                    </div>
                        
                        <%= f.file_field :avatar %>
                    <div class="update-avatar-button">
                        <%= f.submit "Save changes",  class:"search-button" %>
                    </div>
                    <% end %>
            </div>
        </div>
    </div> 
</div>





