<div class="container">
    <div class="profile">
        <div class="left-box-profile">
            <div class="greeting">
                <h1>Hi, I'm <%= @user.first_name %>!</h1>
            </div>
            <div class="avatar-profile-box">
                <% if @user.avatar.attached? %>
                     <%= cl_image_tag @user.avatar.key, class:"avatar-profile"%>
                <%else%>
                    <div class="avatar-profile">
                        <i class="fas fa-user-circle"></i>
                    </div>
                <%end%> 
            </div>
            <div class="join-date">
                <p>Joined in <%= @user.created_at.year %></p>
            </div>
            <div class="description-box" id="description-event">
                <% if @user.description? %>
                   <p > <%= @user.description%></p>
                <%end%>
                   <% if current_user == @user %>
                       <span style="font-size: 16px;"><%= link_to "<i class='far fa-edit'></i>".html_safe, edit_user_path(@user), id:"user-edit", remote: true %></span>
                <%end%>
            </div>    
        </div>    
        <div class="right-box-profile">
        <div class="itinerary-title-profile">
                    <h1>My Itineraries</h1>
                </div>
            <% if @user.itineraries.any? %>
                
                <div class="cards-container-profile">
                    <% @user.itineraries.each do |itinerary| %>
                        <div class="itinerary-card">
                            <div id="carousel_<%= itinerary.id %>" class="carousel slide" data-interval="false">
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel_<%= itinerary.id %>" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel_<%= itinerary.id %>" data-slide-to="1"></li>
                                    <li data-target="#carousel_<%= itinerary.id %>" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <% itinerary.photos.each_with_index do |photo, index| %>
                                    <div class="carousel-item <%= 'active' if index.zero? %>">
                                        <%= cl_image_tag(photo.key, class: "d-block w-100" ) %>
                                    </div>
                                    <% end %>
                                </div>
                                <a class="carousel-control-prev" href="#carousel_<%= itinerary.id %>" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carousel_<%= itinerary.id %>" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <div class="name-duration">
                                <div class="i-name"><%= link_to itinerary.name, itinerary_path(itinerary) %>
                                </div>
                                <div class="duration"><%= itinerary.duration %> days
                                </div>
                            </div>  
                        </div>             
                    <%end%>
            <%else%>
                <div class="no-itinerary">
                <% if current_user == @user %>
                    <p>You haven't got any itineraries yet. Would you like to add one?</p><br>
                    <%= link_to "Let's get started", new_itinerary_path,  class: "search-button"%>
                <% else %>
                    <p><%= @user.name%> has not shared any itineraries yet but watch this space :)</p>
                <% end %>
                </div>
            <%end%>
            </div>
        </div>
    </div>
</div>