<div class="home-background">
<%# <div class="container"> %>
    <% if !user_signed_in? %>
        <div class="textbox_buttons_row row">
            <div class="textbox_buttons_column col-12 col-md-5 col-lg-4">
                <div class="textbox">
                    <h1>Hi Traveller!</h1>
                    <br>
                    <br>
                    <p>
                        Not sure where to go next? No problem! 
                        <br>
                        Check out our travel library where you can find inspiration for your next trip and share your own itineraries with fellow travellers.
                    </p>
                </div>
            <%= link_to "Log in", new_user_session_path, class: "sign-in-button" %>
            <%= link_to "Sign up", new_user_registration_path, class: "sign-up-button"%>
            </div>
        </div>
        <% else %>
        <div class="form-box col-12 col-md-5 col-lg-4">
            <h1>Hi <%= current_user.first_name%>!</h1>
            <p>Plan your next trip!</p>
            <div class="input-field">
                <%= form_tag itineraries_path, method: :get do %>
                    <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Where are you going?"
                    %>
            </div>    
            <div class="submit-button">
                <%= submit_tag "Search", class: "search-button" %>
            </div>
            <% end %>
        </div>
    <%end%>
</div>   
<%# </div>  %>

