<div class="home-background">
<%# <div class="container"> %>
    <% if !user_signed_in? %>
        <div class="textbox_buttons_row row">
            <div class="textbox_buttons_column col-12 col-lg-6">
            <div class="textbox">
            <p>
            Hi there!<br>
            <br>
            We have put together a library of travel itineraries for you! Here you can find inspiration for your next trip and share your own itineraries with fellow travellers!
            </p>
            </div>
            <%= link_to "Log in", new_user_session_path, class: "sign-in-button" %>
            <%= link_to "Sign up", new_user_registration_path, class: "sign-up-button"%>
            </div>
        </div>
        <% else %>
        <div class="form-box">
            <p>Plan your next trip!</p>
            <div class="input-field">
                <%= form_tag itineraries_path, method: :get do %>
                    <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Where are you going?"
                    %>
            </div>    
            <div class="submit-button">
                <%= submit_tag "Search", class: "search-button" %>
            </div>
            <% end %>
        </div>
    <%end%>
</div>   
<%# </div>  %>

