<div class="home-background">
<%# <div class="container"> %>
    <% if !user_signed_in? %>
        <div class="textbox_buttons_row row">
            <div class="textbox_buttons_column col-12 col-lg-6">
            <div class="textbox">
            Recycling can be confusing but it doesn't have to be.<br>
            Sign in and sort it out!
            </div>
            <%= link_to "Sign up", new_user_registration_path, class: "search-button"%>
            <%= link_to "Sign in", new_user_session_path, class: "search-button" %>
            </div>
        </div>
        <% else %>
        <div class="form-box">
            <p>Plan your next trip!</p>
            <div class="input-field">
                <%= form_tag itineraries_path, method: :get do %>
                    <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Where are you going?"
                    %>
            </div>    
            <div class="submit-button">
                <%= submit_tag "Search", class: "search-button" %>
            </div>
            <% end %>
        </div>
    <%end%>
</div>   
<%# </div>  %>

