<div class="container">
  <div class="new-form-box row">
    <div class="new-form col-12 col-lg-8">
      <%= simple_form_for [@itinerary, @destination] do |f| %>
        <%= f.input :country%>
        <%= f.input :city%>
        <%= f.input :date%>
        <%= f.input :description%>
        <%= f.input :photos, as: :file, input_html: { multiple: true }  %>
        <%= f.submit "Save changes",  class:"search-button" %>
      <% end %>
    </div>
  </div>
</div>