<div class="container">
  <div class="new-form-box row">
    <div class="new-form col-12 col-lg-8">
      <h2> What did you do in <%= @destination.city %>? </h2>
        <%= simple_form_for [@itinerary, @destination, @activity] do |f| %>
          <%= f.input :name%>
          <%= f.input :description%>
          <%= f.input :cost%>
          <div>
            <div class="button-cluster">
                <button type="button" id="custom-button-act">📷 Upload photos</button>
                <span id="custom-text-act">No photo chosen, yet.</span>
                <%= f.input :photos, as: :file, label: false, input_html: { multiple: true }%>
              </div>
              <div>
                <%= f.submit class:"search-button", style:"margin: 0px 0px 50px 0px;" %>
              </div>
          </div>
        <% end %>
     </div> 
  </div>
</div>